.rdg-cell {
  contain: strict;
  contain: size layout style paint;
  position: absolute;
  height: inherit;
  padding: 0 18px;
  border-right: 0px solid var(--border-color);
  border-bottom: 0px solid var(--border-color);
  background-color: inherit;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdg-cell-frozen {
  position: sticky;
  /* Should have a higher value than 0 to show up above unfrozen cells */
  z-index: 1;
}

.rdg-cell-frozen-last {
  box-shadow: 2px 0 5px -2px rgba(136, 136, 136, .3);
}

.rdg-cell-selected {
  box-shadow: none;
}

.rdg-cell-copied {
  background-color: #ccccff;
}

.rdg-cell-selected {
    & > .rdg-cell-fake-background {
        border: 1px solid var(--selection-color);
    }
}

.rdg-cell-drag-handle {
  cursor: crosshair;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: var(--selection-color);
  z-index: 11;

  &:hover {
    width: 16px;
    height: 16px;
    border: 2px solid var(--selection-color);
    background-color: var(--background-color);
  }
}

.rdg-cell-fake-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.rdg-cell-fake-background-active {
    border-left: 1px solid var(--selection-color);
    border-right: 1px solid var(--selection-color);
}

.rdg-cell-fake-background-active-last {
    border-bottom: 1px solid var(--selection-color);
}

.rdg-cell-fake-background-active-first {
    border-top: 1px solid var(--selection-color);
}

.rdg-cell-dragged-over {
  background-color: #f7f7f8;
}

.rdg-cell-copied.rdg-cell-dragged-over {
  background-color: #9999ff;
}

.rdg-cell-editing {
  padding: 0;
}
